
*,
*:after,
*:before {
    box-sizing: border-box;
    
}

body { 
    font-family: 'Cinzel', serif;
    margin:0 ;
    min-width: 660px;
}
header {
    min-width: 660px;
}

h1 {
    color : #141414
}
/*
.image {
    background-image: url(cómo cargar la imagen);
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
      }
*/
    
    .btnpmovil {
            position: relative;
            background-color: #ffa400;
            border: 1px solid #222;
            border-radius: 40px;
            width: 300px;
            height: 50px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            justify-content: center;
            flex-wrap: nowrap;
            font-family: 'Cinzel', serif;
            font-size: 22px;
            margin-left: auto;
            margin-right: auto;
          }
.imagenfondo {
   
    padding: 25px;
    background: url(../img/tramaylogo_ibp8iu_c_scale\,w_634.png);
    background-repeat: no-repeat;
    background-size: auto;    
}
.altura-fondo {
    height: 700px;
    width: 700px;
}
.btnmenu {
    border: 1px solid black;
    padding: 5px;
    border-radius: 50em;
    
    background-repeat: no-repeat;
    background-size: auto;    
}

.text-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:#ffa400;
    padding-right: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0;
    border-left-width: 0px;
    border-bottom-width: 0px;
    padding-left: 0px;
    font-family: 'Cinzel';
    font-size: 15px;
    display: inline-flex;
    
}
.menu-display-none {
display: none;
}


.texto-girado {
    transform:  translateX(89%) translateY(-2%) rotate(270deg);
    margin-block-start: initial;
    width: 1000px;
    font-size: 38px;
    

    }


    
.container {
    display: flex;
    align-content: flex-start;
}

